    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script type="text/javascript">
        const values = {};
        const events = {};

        function watch(key, callback) {
            if (!events[key])
                events[key] = [];

            events[key].push(callback);
        }

        function trigger(key) {
            if (events[key])
                events[key].forEach(callback => callback(key, values[key]));
        }

        function update(key, value) {
            document.getElementById(key).innerText = value;
        }

        function safeHtmlEntities(str) {
            return str.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
        }

        function updateWithUnityColor(key, value) {
            const regex = /(<#([0-9A-Fa-f]{3}){1,2}>)/;
            const segments = safeHtmlEntities(value).split(regex);
            const result = [];

            if (segments.length === 1) {
                result.push(value);
            } else {
                let currentColor = null;
                for (let i = 0; i < segments.length; i++) {
                    const segment = segments[i];

                    if (segment.startsWith('<#')) {
                        currentColor = segment.slice(2, -1);
                    } else {
                        if (currentColor) {
                            result.push(`<font color="#${currentColor}">`);
                            currentColor = null;
                        } else {
                            result.push(segment);
                        }
                    }
                }
            }

            const html = result.join('');
            document.getElementById(key).innerHTML = html;
        }

        function updateWithHref(key, value) {
            document.getElementById(key).innerText = value;
            document.getElementById(key).href = `guvrs://open?guid=${value}`;
            document.getElementById(`${key}_COPY`).href = `guvrs://copy?guid=${value}`;
        }

        document.getElementById("GUVRS_OPPONENT_GUID_ADD").addEventListener('click', function () {
            document.getElementById('friend-guid').value = document.getElementById('GUVRS_OPPONENT_GUID').innerText;
            document.getElementById('friends-overlay').style.display = 'none';
            document.getElementById('add-friend-overlay').style.display = 'block';
        });

        document.querySelector('.friends-btn').addEventListener('click', function () {
            document.getElementById('friends-overlay').style.display = 'block';
        });

        document.getElementById('cancel-friends').addEventListener('click', function () {
            document.getElementById('friends-overlay').style.display = 'none';
        });

        document.getElementById('cancel-friends-add').addEventListener('click', function () {
            document.getElementById('add-friend-overlay').style.display = 'none';
        });

        document.getElementById('add-friend').addEventListener('click', function () {
            document.getElementById('friends-overlay').style.display = 'none';
            document.getElementById('add-friend-overlay').style.display = 'block';
        });

        document.getElementById('save-friend').addEventListener('click', function () {
            document.getElementById('add-friend-overlay').style.display = 'none';
            location.href = `guvrs://save-friend?guid=${document.getElementById('friend-guid').value}&name=${document.getElementById('friend-name').value}`;
        });

        document.querySelector('.settings-btn').addEventListener('click', function () {
            document.getElementById('settings-overlay').style.display = 'block';
        });

        document.getElementById('cancel-settings').addEventListener('click', function () {
            document.getElementById('settings-overlay').style.display = 'none';
        });

        document.getElementById('settings-open-folder').addEventListener('click', function () {
            location.href = "guvrs://open-settings-folder";
        });

        document.getElementById('save-settings').addEventListener('click', function () {
            document.getElementById('settings-overlay').style.display = 'none';
            location.href = `guvrs://save-settings?theme=${document.getElementById('dropdown-setting').value}&site=${document.getElementById('dropdown-setting-site').value}&auto-open=${document.getElementById('auto-open-toggle').checked}`;
        });

        document.oncontextmenu = function () {
            return false;
        };

        function guvrs_set_settings(theme, autoOpen, site) {
            document.getElementById('dropdown-setting').value = theme;
            document.getElementById('dropdown-setting-site').value = site;
            document.getElementById('auto-open-toggle').checked = autoOpen;
            document.getElementById('auto-open-toggle').dispatchEvent(new Event('change'));
        }

        function guvrs_set_value(key, value) {
            values[key] = value;
            trigger(key);
        }

        function guvrs_set_html(key, html) {
            document.getElementById(key).innerHTML = html;     
        }

        function guvrs_show_friends() {
            document.getElementById('no-friends').style.display = 'none'; 
            document.getElementById('has-friends').style.display = 'block';
        }

        function guvrs_load_friends(friends) {
            var table = document.getElementById("friends");
            table.querySelectorAll("td").forEach(function (data) {
                data.parentNode.remove();
            });

            for (var index in friends) {
                var row = table.insertRow();

                var actions = row.insertCell(0);
                var name = row.insertCell(1);
                var guid = row.insertCell(2);

                actions.innerHTML = `<a href=\"guvrs://remove-friend?guid=${friends[index].Guid}\"><i alt=\"Remove friend\" class=\"fa-solid fa-xmark\"></i></a>`;
                name.innerHTML = friends[index].Name;
                guid.innerHTML = friends[index].Guid;
            }
        }

        location.href = "guvrs://load-settings";
        watch("GUVRS_GAME_ID", (key, value) => update(key, value));

        watch("GUVRS_PLAYER_NAME", (key, value) => updateWithUnityColor(key, value));
        watch("GUVRS_PLAYER_GUID", (key, value) => updateWithHref(key, value));
        watch("GUVRS_PLAYER_RATING", (key, value) => update(key, value));
        watch("GUVRS_PLAYER_WINPOINTS", (key, value) => update(key, value));
        watch("GUVRS_PLAYER_LOSSPOINTS", (key, value) => update(key, value));

        watch("GUVRS_OPPONENT_NAME", (key, value) => updateWithUnityColor(key, value))
        watch("GUVRS_OPPONENT_GUID", (key, value) => updateWithHref(key, value));
        watch("GUVRS_OPPONENT_RATING", (key, value) => update(key, value));
        watch("GUVRS_OPPONENT_WINPOINTS", (key, value) => update(key, value));
        watch("GUVRS_OPPONENT_LOSSPOINTS", (key, value) => update(key, value));
    </script>
  </body>

</html>