<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUvrs - v3.0.0</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style type="text/css">
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
        }

        a {
            text-decoration: none;
            color: orange;
        }

        .container {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .centered-h2 {
            position: relative;
            top: -15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            font-size: 16px;
            margin-bottom: 10px;
            flex-shrink: 0;
            position: relative;
        }

        .footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            font-size: 16px;
            margin-top: 10px;
        }

        .content {
            flex: 1;
            display: flex;
        }

        .pane {
            width: 50%;
            max-width: 50%;
            box-sizing: border-box;
            padding: 20px;
            border-left: none;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

        #player1 {
            background-color: #f4f4f4;
            border-right: 10px solid white;
        }

        #player2 {
            background-color: #ddd;
        }

        h1 {
            margin-top: 0;
        }

        .data-row {
            display: flex;
            justify-content: flex-start;
            padding: 5px 0;
        }

        .data-label {
            font-weight: bold;
            width: auto;
            margin-right: 5px;
        }

        .data-value {
            text-align: right;
        }

        .guid {
            color: orange;
        }

        .copy {
            color: black;
        }

        .friends-btn {
            position: relative;
            margin-top: -10px;
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 24px;
            cursor: pointer;
            float: left;
        }

        .friends-btn:focus {
             outline: none;
            }

        .game-id {
             width: 95%;
            }

        .settings-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 24px;
            cursor: pointer;
        }

        .settings-btn:focus {
            outline: none;
        }

        .copy-icon {
            margin-left: 3px;
            cursor: pointer;
            vertical-align: middle;
        }

        .copy-icon:hover {
            opacity: 0.7;
        }

        .toggle-container {
            display: flex;
            align-items: center;
            margin-top: 10px;
            position: relative;
        }

        .toggle-label {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .toggle-input {
            display: none;
        }

        .toggle-slider {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;
            background-color: #ccc;
            border-radius: 20px;
            margin-left: 10px;
            cursor: pointer;
            transition: background-color 0.2s;
        }

        .toggle-slider::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 16px;
            height: 16px;
            background-color: white;
            border-radius: 50%;
            transition: transform 0.2s;
        }

        .toggle-input:checked + .toggle-label .toggle-slider {
            background-color: #2196F3;
        }

        .toggle-input:checked + .toggle-label .toggle-slider::before {
            transform: translateX(20px);
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1000;
        }

        .friends-modal {
            width: 300px;
            background-color: #fff;
            padding: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .friend-row {
            margin-bottom: 20px;
        }

        #friend-errors{
            color: red;
        }

        .settings-modal {
            width: 300px;
            background-color: #fff;
            padding: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .setting-row {
            margin-bottom: 15px;
        }

        .button-row {
            display: flex;
            justify-content: flex-end;
        }

        .button-row button {
            margin-left: 10px;
        }

        .deck {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            word-wrap: break-word;
            text-align: justify;
            margin-top: 10px;
            cursor: pointer;
        }

        #has-friends {
            display: none;
            overflow: scroll;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: orange;
            color: white;
        }

        .fa-xmark {
            color: red;
        }
    </style>
</head>

<body>
