<div class="container">
    <div class="header">
        Game Id: <span id="GUVRS_GAME_ID">{{ GUVRS_GAME_ID }}</span>
        <button class="settings-btn"><i title="Click to open settings window" class="fas fa-cog"></i></button>
    </div>

    <div class="content">
        <div class="pane" id="player1">
            <h1 id="GUVRS_PLAYER_NAME">{{ GUVRS_PLAYER_NAME }}</h1>
            <div class="data-row">
                <span class="data-label">Guid:</span>
                <span class="data-value"><a id="GUVRS_PLAYER_GUID" title="Click to open deck in gudecks.com" class="guid" href="javascript:void(0)">{{ GUVRS_PLAYER_GUID }}</a> <a id="GUVRS_PLAYER_GUID_COPY" class="copy" href="javascript:void(0)"><i title="Click to copy guid to clipboard" class="fas fa-copy copy-icon"></i></a></span>
            </div>
            <div class="data-row">
                <span class="data-label">Rating:</span>
                <span class="data-value" id="GUVRS_PLAYER_RATING">{{ GUVRS_PLAYER_RATING }}</span>
            </div>
            <div class="data-row">
                <span class="data-label">Win Points:</span>
                <span class="data-value" id="GUVRS_PLAYER_WINPOINTS">{{ GUVRS_PLAYER_WINPOINTS }}</span>
            </div>
            <div class="data-row">
                <span class="data-label">Loss Points:</span>
                <span class="data-value" id="GUVRS_PLAYER_LOSSPOINTS">{{ GUVRS_PLAYER_LOSSPOINTS }}</span>
            </div>
        </div>

        <div class="pane" id="player2">
            <h1 id="GUVRS_OPPONENT_NAME">{{ GUVRS_OPPONENT_NAME }}</h1>
            <div class="data-row">
                <span class="data-label">Guid:</span>
                <span class="data-value"><a id="GUVRS_OPPONENT_GUID" title="Click to open deck in gudecks.com" class="guid" href="javascript:void(0)">{{ GUVRS_OPPONENT_GUID }}</a> <a id="GUVRS_OPPONENT_GUID_COPY" class="copy" href="javascript:void(0)"><i title="Click to copy guid to clipboard" class="fas fa-copy copy-icon"></i></a></span>
            </div>
            <div class="data-row">
                <span class="data-label">Rating:</span>
                <span class="data-value" id="GUVRS_OPPONENT_RATING">{{ GUVRS_OPPONENT_RATING }}</span>
            </div>
            <div class="data-row">
                <span class="data-label">Win Points:</span>
                <span class="data-value" id="GUVRS_OPPONENT_WINPOINTS">{{ GUVRS_OPPONENT_WINPOINTS }}</span>
            </div>
            <div class="data-row">
                <span class="data-label">Loss Points:</span>
                <span class="data-value" id="GUVRS_OPPONENT_LOSSPOINTS">{{ GUVRS_OPPONENT_LOSSPOINTS }}</span>
            </div>
        </div>
    </div>

    <div class="footer">
        Report any issues to <a title="Click to report any errors to github.com" href="guvrs://report-issue">github</a>
    </div>
</div>

<div class="overlay" id="settings-overlay">
    <div class="settings-modal">
        <h2>Settings</h2>
        <div class="setting-row">
            <label for="dropdown-setting">Theme:</label>
            <select id="dropdown-setting">
                <option value="black-orange">black-orange</option>
            </select>
        </div>
        <div class="setting-row">
            <div class="toggle-container">
                <input type="checkbox" id="auto-open-toggle" class="toggle-input">
                <label for="auto-open-toggle" class="toggle-label">
                    Auto-Open:
                    <span class="toggle-slider"></span>
                </label>
            </div>
        </div>

        <div class="button-row">
            <button id="save-settings">Save</button>
            <button id="cancel-settings">Cancel</button>
        </div>
    </div>
</div>